doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Secure your data')
    meta(name='author', content='Kulagin Dmitriy')
    title Encrypt you messages
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(href='/main/style.css', rel='stylesheet')
  body
    .container
      block content
      
      footer
