extends layout

block content
    section.bg-light.text-center
      h1.p-3.mb-2.bg-info.text-white#title Password must be entered
        h2.text-secondary for decrypt you data
        #formcontainer.container
          form(action='/secrets/' +link, method='post')
            .form-group
              label(for='key') 
              input#key.form-control(type='text', placeholder='Enter password', name='key', required)
            button#submit.btn.btn-primary(type='submit' href='#') Check
          
    script(src='/bower_components/jquery/dist/jquery.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')